<nav class="navbar">
    <div class="nav-brand">
        <span class="logo">🚀</span>
        <span class="brand-name">DevStudio</span>
    </div>
    <ul class="nav-menu">
        <li><a href="../index.html" class="nav-link" data-page="inicio">Inicio</a></li>
        <li><a href="/views/services.html" class="nav-link" data-page="services">Servicios</a></li>
        <li><a href="../index.html#portafolio" class="nav-link" data-page="portafolio">Portafolio</a></li>
        <li><a href="../index.html#contacto" class="nav-link" data-page="contacto">Contacto</a></li>
    </ul>
    <button class="btn-primary">Comenzar</button>
</nav>